In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([12, -4, 7, 9])

In [3]:
s

0    12
1    -4
2     7
3     9
dtype: int64

In [5]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
s = pd.Series([12, -4, 7, 9], index=['a', 'b', 'c', 'd'])

In [9]:
s

a    12
b    -4
c     7
d     9
dtype: int64

In [10]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
s.values

array([12, -4,  7,  9], dtype=int64)

In [12]:
s[2]

7

In [13]:
s['b']

-4

In [14]:
s[0:2]

a    12
b    -4
dtype: int64

In [15]:
s[['a', 'c']]

a    12
c     7
dtype: int64

In [16]:
s[1] = 0

In [17]:
s

a    12
b     0
c     7
d     9
dtype: int64

In [19]:
s['b'] = 1

In [20]:
s

a    12
b     1
c     7
d     9
dtype: int64

In [21]:
arr = np.array([1,2,3,4])

In [22]:
s3 = pd.Series(arr)

In [23]:
s3

0    1
1    2
2    3
3    4
dtype: int32

In [24]:
s4 = pd.Series(s)

In [25]:
s4

a    12
b     1
c     7
d     9
dtype: int64

In [26]:
s3

0    1
1    2
2    3
3    4
dtype: int32

In [27]:
arr[0] = 10

In [28]:
s3

0    10
1     2
2     3
3     4
dtype: int32

In [29]:
s[s > 8]

a    12
d     9
dtype: int64

In [30]:
s / 2

a    6.0
b    0.5
c    3.5
d    4.5
dtype: float64

In [31]:
s

a    12
b     1
c     7
d     9
dtype: int64

In [32]:
np.mean(s)

7.25

In [34]:
type(np.log(s))

pandas.core.series.Series

In [36]:
serd = pd.Series([1,0,2,1,2,3], index=['white', 'white', 'blue', 'green', 'green','yellow'])

In [37]:
serd

white     1
white     0
blue      2
green     1
green     2
yellow    3
dtype: int64

In [38]:
serd.unique()

array([1, 0, 2, 3], dtype=int64)

In [39]:
serd.value_counts()

2    2
1    2
3    1
0    1
dtype: int64

In [40]:
serd.isin((1,2))

white      True
white     False
blue       True
green      True
green      True
yellow    False
dtype: bool

In [41]:
s2 = pd.Series([5, -3, np.NaN, 14])

In [42]:
s2

0     5.0
1    -3.0
2     NaN
3    14.0
dtype: float64

In [43]:
s2.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [45]:
s2.isnull().value_counts()

False    3
True     1
dtype: int64

In [46]:
s2.notnull().value_counts()

True     3
False    1
dtype: int64

In [47]:
s2[s2.notnull()]

0     5.0
1    -3.0
3    14.0
dtype: float64

In [54]:
mydict = {'red': 2000, 'blue': 1000, 'red': 500, 'orange': 1000}

In [52]:
myseries = pd.Series(mydict)

In [53]:
myseries

blue      1000
orange    1000
red        500
dtype: int64

In [55]:
serd

white     1
white     0
blue      2
green     1
green     2
yellow    3
dtype: int64

In [58]:
serd[['white']] + serd

blue      NaN
green     NaN
green     NaN
white     2.0
white     1.0
white     1.0
white     0.0
yellow    NaN
dtype: float64

In [59]:
data = {'color' : ['blue', 'green', 'yellow', 'red', 'white'],
           'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
            'price': [1.2, 1.0, 0.6, 0.9, 1.7]
       }

In [60]:
data

{'color': ['blue', 'green', 'yellow', 'red', 'white'],
 'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
 'price': [1.2, 1.0, 0.6, 0.9, 1.7]}

In [61]:
frame = pd.DataFrame(data)

In [62]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [65]:
frame2 = pd.DataFrame(data, columns=['object', 'price'])

In [66]:
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [67]:
frame2 = pd.DataFrame(data, columns=['object', 'price'], index=['one', 'two', 'three', 'four', 'five'])

In [68]:
frame2

       object  price
one      ball    1.2
two       pen    1.0
three  pencil    0.6
four    paper    0.9
five      mug    1.7

In [69]:
frame3 = pd.DataFrame(np.arange(16).reshape((4,4)), columns=['ball', 'pen', 'pencil', 'paper'])

In [70]:
frame3

   ball  pen  pencil  paper
0     0    1       2      3
1     4    5       6      7
2     8    9      10     11
3    12   13      14     15

In [71]:
frame.columns

Index(['color', 'object', 'price'], dtype='object')

In [72]:
type(frame.columns)

pandas.indexes.base.Index

In [77]:
frame2.index

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [78]:
frame3['ball']

0     0
1     4
2     8
3    12
Name: ball, dtype: int32

In [79]:
frame3.ball

0     0
1     4
2     8
3    12
Name: ball, dtype: int32

In [82]:
frame.ix[0]

color     blue
object    ball
price      1.2
Name: 0, dtype: object

In [89]:
frame2[1:3]

       object  price
two       pen    1.0
three  pencil    0.6

In [90]:
frame2['object'][2]

'pencil'

In [91]:
frame2['object']['two']

'pen'

In [92]:
frame2.columns.name = 'items'

In [93]:
frame2.index.name = 'id'

In [94]:
frame2

items  object  price
id
one      ball    1.2
two       pen    1.0
three  pencil    0.6
four    paper    0.9
five      mug    1.7

In [95]:
frame2['new'] = 12

In [96]:
frame2

items  object  price  new
id
one      ball    1.2   12
two       pen    1.0   12
three  pencil    0.6   12
four    paper    0.9   12
five      mug    1.7   12

In [97]:
frame2[frame2.isin([1.2, 'mug'])]

items object  price  new
id
one      NaN    1.2  NaN
two      NaN    NaN  NaN
three    NaN    NaN  NaN
four     NaN    NaN  NaN
five     mug    NaN  NaN

In [98]:
del frame2['new']

In [99]:
frame2

items  object  price
id
one      ball    1.2
two       pen    1.0
three  pencil    0.6
four    paper    0.9
five      mug    1.7

In [100]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [101]:
frame3

   ball  pen  pencil  paper
0     0    1       2      3
1     4    5       6      7
2     8    9      10     11
3    12   13      14     15

In [108]:
frame3[frame3['paper'] > 3][['ball', 'paper']]

   ball  paper
1     4      7
2     8     11
3    12     15

In [109]:
nestedDict = {
    'object': {2001: 'pen', 2013: 'cookie'},
    'price': {2013: 32.2, 2001: 56.6, 1991: 32.2}
}

In [110]:
frame3 = pd.DataFrame(nestedDict)

In [111]:
frame3

      object  price
1991     NaN   32.2
2001     pen   56.6
2013  cookie   32.2

In [112]:
frame3.T

        1991  2001    2013
object   NaN   pen  cookie
price   32.2  56.6    32.2

In [113]:
ser

NameError: name 'ser' is not defined

In [116]:
ser = pd.Series([5, 0, 3, 8, 4], index=['red', 'blue', 'yellow', 'white', 'green'])

In [117]:
ser.idxmin()

'blue'

In [118]:
ser.idxmax()

'white'

In [119]:
serd

white     1
white     0
blue      2
green     1
green     2
yellow    3
dtype: int64

In [120]:
serd.index.is_unique

False

In [121]:
ser

red       5
blue      0
yellow    3
white     8
green     4
dtype: int64

In [122]:
ser.reindex(['blue', 'yy'])

blue    0.0
yy      NaN
dtype: float64

In [125]:
ser = pd.Series([1, 3, 4, 5, 6])

In [126]:
ser

0    1
1    3
2    4
3    5
4    6
dtype: int64

In [127]:
ser.reindex(range(6), method='ffill')

0    1
1    3
2    4
3    5
4    6
5    6
dtype: int64

In [128]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [129]:
frame.reindex(range(10), method='ffill', columns=['object', 'color', 'price'])

   object   color  price
0    ball    blue    1.2
1     pen   green    1.0
2  pencil  yellow    0.6
3   paper     red    0.9
4     mug   white    1.7
5     mug   white    1.7
6     mug   white    1.7
7     mug   white    1.7
8     mug   white    1.7
9     mug   white    1.7

In [130]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [136]:
frame.drop(['color'], axis=1)

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [145]:
s1 = pd.Series([3, 2, 5, 1], ['white', 'yellow', 'green', 'blue'])

In [146]:
s1

white     3
yellow    2
green     5
blue      1
dtype: int64

In [147]:
s2 = pd.Series([1, 4, 7, 2, 1], ['white', 'yellow', 'black', 'blue', 'brown'])

In [148]:
s1 + s2

black     NaN
blue      3.0
brown     NaN
green     NaN
white     4.0
yellow    6.0
dtype: float64

In [150]:
frame1 = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['red', 'blue', 'yellow', 'white'],
                     columns=['ball', 'pen', 'pencil', 'paper'])

In [151]:
frame1

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [152]:
frame2 = pd.DataFrame(np.arange(12).reshape((4,3)),
                     index=['blue', 'green', 'white', 'yellow'],
                     columns=['mug', 'pen', 'ball'])

In [153]:
frame2

        mug  pen  ball
blue      0    1     2
green     3    4     5
white     6    7     8
yellow    9   10    11

In [154]:
frame1 + frame2

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

In [156]:
frame1

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [157]:
ser

0    1
1    3
2    4
3    5
4    6
dtype: int64

In [158]:
ser = pd.Series(np.arange(4), index=['ball', 'pen', 'pencil', 'paper'])

In [159]:
ser

ball      0
pen       1
pencil    2
paper     3
dtype: int32

In [161]:
frame1 - ser

        ball  pen  pencil  paper
red        0    0       0      0
blue       4    4       4      4
yellow     8    8       8      8
white     12   12      12     12

In [162]:
ser['mug'] = 10

In [163]:
frame1 - ser

        ball  mug  paper  pen  pencil
red        0  NaN      0    0       0
blue       4  NaN      4    4       4
yellow     8  NaN      8    8       8
white     12  NaN     12   12      12

In [164]:
np.sqrt(frame1)

            ball       pen    pencil     paper
red     0.000000  1.000000  1.414214  1.732051
blue    2.000000  2.236068  2.449490  2.645751
yellow  2.828427  3.000000  3.162278  3.316625
white   3.464102  3.605551  3.741657  3.872983

In [165]:
np.square(frame1)

        ball  pen  pencil  paper
red        0    1       4      9
blue      16   25      36     49
yellow    64   81     100    121
white    144  169     196    225

In [166]:
frame1

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [167]:
frame1.apply(lambda x: max(x)-min(x))

ball      12
pen       12
pencil    12
paper     12
dtype: int64

In [168]:
frame1.apply(lambda x: max(x)-min(x), axis=1)

red       3
blue      3
yellow    3
white     3
dtype: int64

In [170]:
frame1.apply(lambda x: pd.Series([max(x),min(x)],index=['max', 'min']))

     ball  pen  pencil  paper
max    12   13      14     15
min     0    1       2      3

In [174]:
frame1.sum(axis=1)

red        6
blue      22
yellow    38
white     54
dtype: int64

In [175]:
ser

ball       0
pen        1
pencil     2
paper      3
mug       10
dtype: int64

In [176]:
ser.sort_values()

ball       0
pen        1
pencil     2
paper      3
mug       10
dtype: int64

In [177]:
ser.sort_index()

ball       0
mug       10
paper      3
pen        1
pencil     2
dtype: int64

In [178]:
frame1.sort_index()

        ball  pen  pencil  paper
blue       4    5       6      7
red        0    1       2      3
white     12   13      14     15
yellow     8    9      10     11

In [179]:
frame1.sort_index(axis=1)

        ball  paper  pen  pencil
red        0      3    1       2
blue       4      7    5       6
yellow     8     11    9      10
white     12     15   13      14

In [180]:
ser.order()

C:\Users\daniel.xu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

ball       0
pen        1
pencil     2
paper      3
mug       10
dtype: int64

In [181]:
frame1.sort_index(by="pen")

C:\Users\daniel.xu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [183]:
frame1.sort_values(by=["pen", "ball"])

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [184]:
ser.rank()

ball      1.0
pen       2.0
pencil    3.0
paper     4.0
mug       5.0
dtype: float64

In [185]:
frame1

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [191]:
frame = pd.DataFrame([[np.nan, 12], [32, np.nan], [np.nan, np.nan]], index=['a', 'b', 'c'], columns=['A', 'B'])

In [192]:
frame

      A     B
a   NaN  12.0
b  32.0   NaN
c   NaN   NaN

In [193]:
frame.dropna()

Empty DataFrame
Columns: [A, B]
Index: []

In [194]:
frame.dropna(how='all')

      A     B
a   NaN  12.0
b  32.0   NaN

In [195]:
frame.fillna(0)

      A     B
a   0.0  12.0
b  32.0   0.0
c   0.0   0.0

In [196]:
frame

      A     B
a   NaN  12.0
b  32.0   NaN
c   NaN   NaN

In [197]:
frame.fillna({'A':10, 'B': 100})

      A      B
a  10.0   12.0
b  32.0  100.0
c  10.0  100.0

In [198]:
s1 = pd.Series(range(4), index=[['a', 'a', 'b', 'b'], ['1', '2', '3', '4']])

In [199]:
s1

a  1    0
   2    1
b  3    2
   4    3
dtype: int32

In [201]:
s1.index

MultiIndex(levels=[['a', 'b'], ['1', '2', '3', '4']],
           labels=[[0, 0, 1, 1], [0, 1, 2, 3]])

In [202]:
s1['a']

1    0
2    1
dtype: int32

In [203]:
s1[:, '2']

a    1
dtype: int32

In [204]:
s1['a', '2']

1

In [206]:
s1.unstack().stack()

a  1    0.0
   2    1.0
b  3    2.0
   4    3.0
dtype: float64

In [207]:
mframe = pd.DataFrame(np.random.randn(16).reshape((4,4)),
                     index=[['white', 'white', 'red', 'red'], ['up', 'down', 'up', 'down']],
                     columns=[['pen', 'pen', 'pencil', 'pencil'], [1,2,1,2]])

In [208]:
mframe

                 pen              pencil
                   1         2         1         2
white up   -0.399162 -1.133990  1.701382  0.283025
      down -1.517799 -0.436386  1.054364 -0.665957
red   up   -0.154317  0.501468 -0.276480  0.816889
      down  1.651878 -0.343379  0.169397  0.978525

In [210]:
type(mframe.stack())

pandas.core.frame.DataFrame

In [211]:
mframe.columns.names = ['objects', 'id']

In [212]:
mframe.index.names = ['colors', 'status']

In [213]:
mframe

objects             pen              pencil
id                    1         2         1         2
colors status
white  up     -0.399162 -1.133990  1.701382  0.283025
       down   -1.517799 -0.436386  1.054364 -0.665957
red    up     -0.154317  0.501468 -0.276480  0.816889
       down    1.651878 -0.343379  0.169397  0.978525

In [214]:
mframe.swaplevel('colors', 'status')

objects             pen              pencil
id                    1         2         1         2
status colors
up     white  -0.399162 -1.133990  1.701382  0.283025
down   white  -1.517799 -0.436386  1.054364 -0.665957
up     red    -0.154317  0.501468 -0.276480  0.816889
down   red     1.651878 -0.343379  0.169397  0.978525

In [216]:
mframe.sortlevel('status')

objects             pen              pencil
id                    1         2         1         2
colors status
red    down    1.651878 -0.343379  0.169397  0.978525
white  down   -1.517799 -0.436386  1.054364 -0.665957
red    up     -0.154317  0.501468 -0.276480  0.816889
white  up     -0.399162 -1.133990  1.701382  0.283025

In [217]:
mframe

objects             pen              pencil
id                    1         2         1         2
colors status
white  up     -0.399162 -1.133990  1.701382  0.283025
       down   -1.517799 -0.436386  1.054364 -0.665957
red    up     -0.154317  0.501468 -0.276480  0.816889
       down    1.651878 -0.343379  0.169397  0.978525

In [219]:
mframe.sum(level='colors')

objects       pen              pencil
id              1         2         1         2
colors
red      1.497562  0.158089 -0.107083  1.795414
white   -1.916961 -1.570376  2.755746 -0.382932

In [221]:
mframe.sum(level='id', axis=1)

id                    1         2
colors status
white  up      1.302219 -0.850965
       down   -0.463435 -1.102344
red    up     -0.430797  1.318357
       down    1.821276  0.635146